:root {
  --sidebar-button-padding: 30px;
}

.clear-all-button,
.clear-button,
.generate-maze-button,
.sidebar-button,
.title-button,
.toggle-button,
.visualize-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.sidebar-button {
  padding: 0 var(--sidebar-button-padding) 0 0;
}

.visualize-button {
  background-color: #1cbc9c;
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
  padding: 6px 15px;
}

.visualize-button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.clear-all-button:hover,
.clear-button:hover,
.generate-maze-button:hover,
.title-button:hover,
.toggle-button:hover {
  color: #1cbc9c;
}

.clear-all-button:active,
.clear-button:active,
.generate-maze-button:active,
.title-button:active,
.toggle-button:active {
  color: #fff;
}

.title-button {
  font-weight: 700;
  font-size: 22px;
}

.idle {
  animation: bobble_text 1.2s infinite;
}

@keyframes bobble_text {
  0% {
    transform: scale(0.6);
    text-shadow: 0 0 #fff;
  }
  50% {
    transform: scale(1.05);
    text-shadow: 0 0 10px #fff;
  }
  100% {
    transform: scale(0.9);
    text-shadow: 0 0 #fff;
  }
}
