.header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.bfs {
  background-color: green;
  border: 1px solid #000;
  height: 50px;
  width: 150px;
}

.dfs {
  background-color: #05cae8;
  border: 1px solid #000;
  height: 50px;
  width: 150px;
}

.dijkstras {
  background-color: #fc03d3;
  border: 1px solid #000;
  height: 50px;
  width: 150px;
}

.pmg {
  background-color: #b88e72;
  border: 1px solid #000;
  height: 50px;
  width: 150px;
}

.visualize {
  background-color: #fff;
  border: 1px solid #000;
  height: 50px;
  width: 150px;
}

.startNode {
  background-color: #1703fc;
  border: 1px solid #fff;
  width: 21px;
  height: 21px;
}

.endNode {
  background-color: #fc0303;
  border: 1px solid #fff;
  width: 21px;
  height: 21px;
}

.blank {
  background-color: #fff;
  border: 1px solid #34efeb;
  width: 21px;
  height: 21px;
}

.node {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  width: 21px;
  height: 21px;
}

.node:hover {
  background-color: #cdcdcd;
  border: 1px solid #000;
  width: 21px;
  height: 21px;
}

.wall {
  background-color: black;
  border: 1px solid #000;
  width: 21px;
  height: 21px;
}

.frontier {
  background-color: black;
  border: 1.5px solid red;
  width: 21px;
  height: 21px;
}

.visited {
  background-color: #fff000;
  border: 1px solid #fff;
  width: 21px;
  height: 21px;
  opacity: 80%;
  transition: background-color 0.5s;
}

.path {
  background-color: #32a852;
  border: 1px solid #fff;
  width: 21px;
  height: 21px;
  opacity: 80%;
  transition: background-color 2s;
}

.on-stack {
  background-color: #fc6203;
  border: 1px solid #fff;
  width: 21px;
  height: 21px;
  opacity: 80%;
}

.debug-button {
  background-color: #fff;
  border: 1px solid #000;
}

.debug-button:hover {
  background-color: #cdcdcd;
  border: 1px solid #000;
}

.set-wall-button {
  background-color: cyan;
  border: 1px solid #000;
}

label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

option {
  font-size: 0.9rem;
  padding: 2px 5px;
}
